body {
    background-color: whitesmoke;
}

header {
    background-color: #1DA1F2;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
}

a {
    color: black;
    font-family: 'Roboto';
    text-decoration: none;
}

.site-title {
    margin-left: 10px;
}

li, h1 {
    font-family: 'Roboto';
}

.navbar li {
    display: inline-flex;
    flex-direction: row;
}

.navbar li a {
    color: black;
    padding: 0 10px 0 10px;
    font-weight: light;
    font-size: 16pt;
    
}

.navbar .navlist {
    margin-left: 8px;
    padding-top: 5px;
    padding-left: 0;
    align-items: center;
}

.navbar .navbar-search {
    float: right;
    margin-right: 24px;
}

.navitem.navlink.active {
    border-bottom: 3px solid #1DA1F2;
}

li.navitem:hover a {
    color: #1DA1F2;
}

a:link .site-title { 
    text-decoration: none;
    color: white; 
}

a:hover .site-title { 
    text-decoration: none; 
    color: white;
}

a:active .site-title { 
    text-decoration: none; 
    color: white;
}

a:visited .site-title { 
    text-decoration: none;
    color: white;     
}

.navbar {
    background-color: white;
}

input#navbar-search-input {
    background-color: #eeeeee;
    border: 1px solid #dbdadc;
    padding: 3px;
    margin-right: 2px;
}

button#navbar-search-button {
    background-color: white;
    border: none;
    color: #3a3a3a;
}

main.twit-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    top: 120px;
    width: 70%;
    left: 21%;
}

.twit {
    background-color: white;
    display: flex;
    margin: 10px 10px 10px 10px;
    border: 1px solid #dbdadc;
    align-self: center;
    flex-basis: 25%;
}

.twit-icon {
    padding-top: 18px;
    margin: 0 5px 0 5px;
}

.twit-content p.twit-text {
    font-family: 'Roboto';
    margin-right: 35px;
}

.twit-author a {
    font-weight: bold;
    float: right;
    margin: 0 20px 20px 0;
}