body {
    background-color: whitesmoke;
}

header {
    background-color: #1DA1F2;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
}

a {
    color: black;
    font-family: 'Roboto';
    text-decoration: none;
}

.site-title {
    margin-left: 10px;
    font-weight: lighter;
}

li, h1 {
    font-family: 'Roboto';
}

.navbar li {
    display: inline-flex;
    flex-direction: row;
}

.navbar li a {
    color: black;
    padding: 0 10px 0 10px;
    font-size: 16pt;
    
}

.navbar .navlist {
    margin-left: 8px;
    padding-top: 5px;
    padding-left: 0;
    align-items: center;
}

.navbar .navbar-search {
    float: right;
    margin-right: 24px;
}

.navitem.navlink.active {
    border-bottom: 3px solid #1DA1F2;
}

li.navitem:hover a {
    color: #1DA1F2;
}

a:link .site-title { 
    text-decoration: none;
    color: white; 
}

a:hover .site-title { 
    text-decoration: none; 
    color: white;
}

a:active .site-title { 
    text-decoration: none; 
    color: white;
    font-weight: light;
}

a:visited .site-title { 
    text-decoration: none;
    color: white;     
}

.navbar {
    background-color: white;
}

input#navbar-search-input {
    background-color: #eeeeee;
    border: 1px solid #dbdadc;
    padding: 3px;
    margin-right: 2px;
}

button#navbar-search-button {
    background-color: white;
    border: none;
    color: #3a3a3a;
}

main.twit-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    top: 120px;
    max-width: 1500px;
    left: 17%;
}

article.twit {
    background-color: white;
    display: flex;
    margin: 2px;
    border: 1px solid #dbdadc;
    align-self: center;
    flex-basis: 25%;
    min-width: 425px;
    max-width: 425px;
}

.twit-icon {
    padding-top: 18px;
    margin: 0 5px 0 5px;
}

div.twit-content {
    width: 100%;
    min-height: 110px;
}

.twit-content p.twit-text {
    font-family: 'Roboto';
    margin-right: 35px;
}

.twit-author a {
    font-weight: bold;
    float: right;
    margin: 0 20px 20px 0;
}

.twit-author a:hover {
    color: #1DA1F2;
}

button#create-twit-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
}

button#navbar-search-button:hover {
    color: #1DA1F2;
    cursor: pointer;
}

button#create-twit-button:hover {
    background-color: #1DA1F2;
    cursor: pointer;
}

@media (max-width: 1432px) {
    .twit {
        flex-basis: 40%;
    }

    div.twit-content {
        min-height: 130px;
    }

    article.twit {
        width: 300px;
    }
}

@media (min-width: 1921px) {
    main.twit-container {
        left: 20%;
    }
}